<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.zcib.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryManageServlet</servlet-name>
    <servlet-class>com.zcib.servlet.CategoryManageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageUploadServlet</servlet-name>
    <servlet-class>com.zcib.servlet.ImageUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminProductServlet</servlet-name>
    <servlet-class>com.zcib.servlet.AdminProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageUpload</servlet-name>
    <servlet-class>com.zcib.servlet.ImageUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.zcib.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.zcib.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PCAServlet</servlet-name>
    <servlet-class>com.zcib.servlet.PCAServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>com.zcib.servlet.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryManageServlet</servlet-name>
    <url-pattern>/categoryManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageUploadServlet</servlet-name>
    <url-pattern>/imageUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminProductServlet</servlet-name>
    <url-pattern>/adminProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageUpload</servlet-name>
    <url-pattern>/imageUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/productServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PCAServlet</servlet-name>
    <url-pattern>/pCAServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/addressServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>